
/* dans la synthèse il est précisé que " pour éviter d’étirer la page sur la largeur de façon excessive, il faut déterminer
une largeur maximum de 1400 px." */
#conteneur {
    max-width: 1400px;
    margin: auto;
}

body {
    font-family:'Raleway', sans-serif;
    background-color:white;
}

h1 {
    color: black;
    font-size: 1.4em; /*en em*/
    margin: 6px;
}

h2 {
    font-size: 1.2em; /*en em*/
    padding: 15px;
}

h3 {
    font-size: 1em; /*en em*/
    margin-top: 4px;
    margin-bottom: 4px;
}

p {
    font-size: 1em; /*en em*/
    margin: 10px;
}

i { /*ici je veux inclure toutes les icones <i>*/
    color:#0065FC;
}

/*header*/
header {
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

#logo img {
    width: 61px;
    height: 19px;
    padding-left: 44px;
    padding-top: 44px;
    padding-bottom: 44px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 50px;
    padding-top: 44px;
    padding-right: 40px;
}


nav a {
    color: black;
    text-decoration: none;  
}

a:hover {
    color: #0065FC;
    text-decoration: overline 2px;    
    /*au dessus version desktop, en dessous version mobile, 
    il faudra ajouter des infos selon taille d'écran*/
}


/*section 1 : Trouvez votre hbrgmnt*/
#section1 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

/*div barrederecherche*/

form { /*correspond aux éléments qui forment la barre de recherche*/
    display: flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    margin-top: 30px; /*influence l'espace entre le p "En plein centre" et la barre de recherche*/
    margin-bottom: 40px; /*influence l'espace entre la barre et les filtres*/
    width: 418px; /*permet de définir la largeur de la barre de recherche. Je me suis basée sur la maquette où la fin de la barre arrive à peu près au niveau de "vac"*/
}

#dotlocation i { /*ici l'icone est noire*/
    color: black;
    font-size: 1.3em;
}

#dotlocation { /*contour de l'icone*/
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 20px;
}

input { /*correspond à l'endroit ou on peut écrire une ville et où est indiqué "Marseille, Fr"*/
    border: none;
    font-size: 1.1em;
    width: 230px;
    font-weight: bold;
    padding : 20px;
    }

/*correspond à "Rechercher".
 Attention, en version mobile il faut mettre une icone loupe 
<i class="fa-solid fa-magnifying-glass"></i> à la place du texte "Rechercher"*/
button {
    background-color:#0065FC;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    border-radius:  0px 15px 15px 0px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    }


/*partie filtres*/
#filtres {
        display: flex;
        flex-direction: row;
        width: 1000px;
}

.filtre a { /* ATTENTION, les filtres éco, fam, rom, animaux doivent changer d'apparence au survol utiliser du bleu clair (#DEEBFF) */
    display: flex;
    flex-direction: row;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 30px;
    padding-bottom: 10px;
    justify-content: space-between;
    margin: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
 }

.filtre a:hover {
    color: black;
    background-color: #DEEBFF;
    text-decoration: none;
}

.filtre i {
    padding-right: 10px;
}

/*div info (i entouré + indications "plus de 500 logements dispos"*/
#info {
    display: flex;
    flex-direction: row;
}

#i {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 25px ;
    width: 24px;
    height: 24px;
    text-align: center;
    margin: 6px;
    margin-bottom: 30px;
}

/*div whereto comprend la section 2 ET l'aside*/
#whereto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1300px;
    height: 700px
}

#accomodations, #topofthetop {
    background: #F2F2F2;
    border-radius: 20px; /*effet sur les photos dont l'angle est modifié*/
}

.greystar i {
    color:#F2F2F2;
    font-size: 0.8em;
}

#whereto p {
    font-size: 0.9em;
}

/*****section2*****/

#accomodations {
  display: flex;
  flex-direction: column;
  width: 800px; /*faut il mettre en % ?????????*/
  height: 650px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 50px;
  margin-right: 40px;
}

#accomodations h1 {
    margin-left: 25px;
    margin-bottom: 30px;
}

#accomodations h2 {
    margin-left: 20px;
    margin-top: 18px;
    
}

#accomodations a{
    text-decoration: none;
    color: black;
}

#where { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card1 { /*ATTENTION les cards doivent être cliquables dans leur intégralité */
    width: 29%;
    height: 199px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 20px;
    border: 5px solid #FFFFFF;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.card1 img { 
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 118px;
}

.box1 {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    margin-bottom: 2px;
}

.box1 h3 {
    margin-left: 9px;
    margin-bottom: 3px;
    margin-top: 10px;

}

.box1 p {
    margin-top: 2px;
}

.stars {
    font-size: 0.8em;
    margin-left: 8px;

}


/*****aside topofthetop*****/

#topofthetop {
    width: 410px; 
    height: 690px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#increase {
    display: flex;
    flex-direction: row;
    padding-top : 40px;
    gap: 90px;
}

#increase h1 {
    padding-left: 38px;
}

#increase i {
    padding-top: 9px;
}

#bests {
    display: flex;
    flex-direction: column;
}

.card2 { /*ATTENTION les cards doivent être cliquables*/
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 20px;
    width: 80%;
    height: 140px;
    border: 5px solid #FFFFFF;
    background-color: #FFFFFF;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.card2 a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}

.comment h3 {
    margin-left: 6px; 
    margin-bottom: 2px;
}

.comment p {
    margin-left: 7px;
}

.card2 img { 
    border-radius:  20px 0px 0px 20px;
    object-fit: cover;
    width: 38%;
    height: 140px;
}

.box2 {
    display: flex;
    flex-direction: column;
    margin-left:15px;
    margin-top: 4px;
}

.stars2 {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    padding-bottom: 5px;
    margin-left: 7px;
    margin-top: auto; /*permet aux etoiles de prendre l'espace max et donc de se mettre tout en bas*/
}

/*****section 3 activities*****/
#section3 {
    display: flex;
    flex-direction: column;
    width:1370px;
    height: 550px;
}

#section3 h1{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}

#activities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

.card3 { /*ATTENTION les cards doivent être cliquables*/
    display: flex;
    flex-direction: column;
    width: 300px;/*il faut trouver un moyen de le mettre en %*/
    height: 410px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 20px;
}

.card3 img {
    width: 100%;/*il faut trouver un moyen de le mettre en %*/
    height: 350px;
    border-radius: 20px 20px 0 0;
    
}
#activities a {
    text-decoration: none;
    color: black;
}

#section3 h1{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.card3 h3 {
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: 20px;
}


/*footer*/

footer { 
    width: auto;
}

#footer { /*revoir margin et padding*/
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding-top: 20px;
    margin-top: 20px;
    justify-content: flex-start;
    gap: 120px;
}

.help {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.help h4 {
    margin-left: 40px;
    margin-bottom: 5px;
   
}

ul {
    list-style-type: none;
    font-size: 0.9em;
}

li {
    margin-bottom: 10px;
}
