
/* min-width 320px maxi-width 1400 px." */
#container {
    max-width: calc(1400px + 2 * var(--body-padding-sides));
    margin: auto;
}

body {
    font-family:'Raleway', sans-serif;
    background-color:white;
}

h1 {
    color: black;
    font-size: 1.4em;
    /*margin: 6px; REMOVED*/
}

h2 {
    font-size: 1.2em; /*en em*/
    /*padding: 15px; REMOVED*/
}

h3 {
    font-size: 1em; /*en em*/
    /*margin-top: 4px; REMOVED*/
    /*margin-bottom: 4px; REMOVED*/ 
}

p {
    font-size: 1em; /*en em*/
    margin: 10px;
}

i { /*ici je veux inclure toutes les icones <i>*/
    color:#0065FC;
}

/*header*/
header {
    /*max-width: 1300px; REMOVED les elemnt du header prennent la bonne place*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}

#logo img {
    width: 61px;
    height: 19px;
    padding-left: 3%; /*44px*/
    padding-top: 44px;   
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 60px; /*mieux en px qu'en %*/
    padding-right: 5%; /*je mets en % eq. 40px*/
}


.nav a {
    color: black;
    text-decoration: none;  
    padding-top: 44px;
}

.nav a:hover { /*ligne de survol, au dessus en version desktop, en dessous en version mobile*/
    border-top: 2px solid #0065FC;
    color: #0065FC;
}


/*section 1 : Trouvez votre hbrgmnt*/
.start {
    width:100%;
}

#section1 {
    display: flex;
    flex-direction: column;
    /*margin-left: 40px;*/
    padding-left: 3%; /*comme le logo*/
    padding-right: 3%; /*ADDED*/
}

/*div barrederecherche*/
form { /*correspond aux éléments de la barre de recherche*/
    display: flex;
    flex-direction: row;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 30%; /*fin de la barre au niveau de "va". A 35% le contour sortait après "Rechercher"*/
}

#dotlocation i { /*ici l'icone est noire*/
    color: black;
    font-size: 1.3em;
}

#dotlocation { /*contour de l'icone*/
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 20px;
}

input { /*correspond à l'endroit ou on peut écrire une ville et où est indiqué "Marseille, Fr"*/
    border: none;
    font-size: 1.1em;
    /*color: black; pas d'impact qq soit le navigateur*/
    min-width: 80%; /* min-w au lieu de w. % au lieu de 230px;*/
    font-weight: bold;
    padding : 20px;
    }

/*correspond à "Rechercher"*/
.buttonresearch {
    background-color:#0065FC;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    border-radius:  0px 15px 15px 0px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    }

/*partie filtres en lien avec les ul*/
#filtres {
    display: flex;
    flex-direction: row;
}

#filtres h2 {
    padding-top: 10px;
}

.conteneur {
    display: flex;
    flex-direction: row;
}

#filtres ul {
    list-style-type: none;
}

.button {
    display: flex;
    flex-direction: row;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 15px;
    margin-right: 20px;
    font-weight: bold;
}

 #filtres a {
    text-decoration: none;
    color: black;
 }

li a:hover {  /*les filtres doivent changer d'apparence au survol*/
    color: black;
    background-color: #DEEBFF;
    text-decoration: none;
    border-radius: 25px;
}

.button i {
    padding-right: 10px;
}

.button {
    background-color: white;
    font-size: 1.1em;
}


/*div info (i entouré + indications "plus de 500 logements dispos"*/
#info {
    display: flex;
    flex-direction: row;
}

#i {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 25px ;
    width: 24px;
    height: 24px;
    text-align: center;
    margin: 6px;
    margin-bottom: 30px;
}

/*div whereto comprend la section 2 ET l'article*/
#whereto {
    display: flex;
    flex-direction: row;
    /*justify-content: space-around;REMOVED*/
    /*max-width: 1345px;*/
    /*margin-bottom: 60px; REMOVED car pas d'effet*/
}

#accomodations, #topofthetop {
    background: #F2F2F2;
    border-radius: 20px; /*angles fd*/
}

.greystar i {
    color:#F2F2F2;
    font-size: 0.8em;
}

#whereto p {
    font-size: 0.9em;
}

/*****section2*****/

.one {
    width: 68%;
}

#accomodations {
    display: flex;
    flex-direction: column;
    padding-top: 3%; /*40px;*/
    padding-left: 3%; /*40px;*/
    padding-right: 3%; /*40px;*/
    margin-left: 5%; /*50px;*/
    margin-right: 5%; /*40px;*/
}

#accomodations h1 {
    margin-left: 2%; /*25px;*/
    margin-bottom: 30px;
}

#accomodations h2 {
    margin-left: 2%; /*20px;*/
    margin-top: 2%; /*18px;*/ 
    margin-bottom: 6%; /*45px;*/ 
}

#accomodations a{
    text-decoration: none;
    color: black;
}

#where { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card1 { /*ATTENTION les cards doivent être cliquables dans leur intégralité */
    width: 29%;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 20px;
    border: 5px solid #FFFFFF;
    background-color: #FFFFFF;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.card1 img { 
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    width: 100%;
    height: 118px; /* ici les % ne fonctionnent pas correctmt*/
}

.box1 {
    display: flex;
    flex-direction: column;
}

.box1 h3 {
    margin-left: 4%; /*8px;*/
    margin-bottom: 1%; /*3px;*/
    margin-top: 5%; /*10px;*/
}

.box1 p {
    margin-top: 1%; /*2px;*/
}

.stars {
    font-size: 0.8em;
    margin-left: 4%; /*8px;*/
}


/*****article topofthetop*****/

.two {
    width: 28%;
}

#topofthetop { 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#increase {
    display: flex;
    flex-direction: row;
    padding-top : 6%; /*40px;*/
    gap: 30%;
}

#increase h1 {
    margin-left: 8%; /*35px;*/
}

#increase i {
    padding-top: 5%;
}

#bests {
    display: flex;
    flex-direction: column; 
    margin-bottom: 3px; 
    gap: 14px;
    align-items: center;
}

.card2 {
    width: 80%; 
}

.card2 a { /*ATTENTION les cards doivent être cliquables*/
    display: flex;
    flex-direction: row;
    border: 5px solid #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 20px;
    margin-bottom: 8%;  
}

#bests a {
    text-decoration: none;
    color: black;
}

.box2 h3 {
    margin-left: 6px; 
    margin-bottom: 2px;
}

.box2 p {
    margin-left: 7px;
}

.card2 img { 
    border-radius:  20px 0px 0px 20px;
    object-fit: cover;
    width: 40%;
    height: 140px;
}

.box2 {
    display: flex;
    flex-direction: column;
    margin-left: 3%; /*15px;*/
}

.stars2 {
    font-size: 0.8em;
    padding-bottom: 3%; /*5px;*/
    margin-top: auto; /*permet aux toiles de prendre l'espace max et donc de se mettre tout en bas*/
}

/*****section 3 activities*****/
.trois {
    width: 100%;
}

#section3 {
    display: flex;
    flex-direction: column;
}

#section3 h1 {
    padding-top: 4%;
    padding-bottom: 1%; /*20px;*/
    padding-left: 4%; /*60px;*/ 
}

#activities {
    display: flex;
    flex-direction: row;
    gap: 4%; 
    padding-left: 4%;
    padding-right: 4%;
    }

.card3 { /*les cards doivent être cliquables*/
    display: flex;
    flex-direction: column;
    width: 22%;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    border-radius: 20px;
}

.card3 img {
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0 0;
}

#activities a {
    text-decoration: none;
    color: black;
}

.card3 h3 {
    font-size: 0.9em;
    margin-top: 5%; /*10px;*/
    margin-left: 5%; /*20px;*/
}


/*footer*/
.end {
    width: 100%;
}

#footer { 
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding-top: 40px;
    gap: 15%;
    margin-top: 5%; /*60px;*/
    margin-left: 4%;/*50px;*/
    margin-right: 4%; /*40px;*/
}

.help {
    display: flex;
    flex-direction: column;
}

.help h4 {
    margin-left: 40px;
    margin-bottom: 5px;  
}

ul {
    list-style-type: none;
    font-size: 0.9em;
}

li {
    margin-bottom: 10px;
}




.hide-lg {
   display: none;
}



/*********************************************    MEDIA QUERIES TABLETTE     ****************************************/

/*media queries en lien avec la version tablette (769 à 992px selon l'ancienne version de booki)*/
@media screen and (min-width: 769px) and (max-width: 992px){
/*section trouvez votre hbrgmnt*/
    .start {
        width: 100%;
    }

/*partie filtres en lien avec les ul*/
    .conteneur {
        flex-wrap: wrap; /* resoud le pb de button sur 2lignes*/
}

/*whereto = section+aside. Mis au dessus de l'autre en version tablette*/
    #whereto {
        display: flex;
        flex-direction: column;
        gap: 50px; /*ici les % ne fonctionne pas bien du tout*/
    }

/*section Hbergement à Marseille*/
    .one {
        width: 100%;
    }

/*Aside Les + populaires*/
    .two {
        width: 100%;
    }

   #topofthetop {
    padding-left: 3%;
    padding-right: 3%; /*40px;*/
    margin-left: 5%; /*50px;*/
    margin-right: 5%; /*40px;*/
   }


/*aside topofthetop*/
    #bests {
        display: flex;
        flex-direction: row; 
        margin-bottom: 3%; 
        gap: 20px;
    }

    .card2 {
    width: 100%; 
    }

    .card2 a { /*ATTENTION les cards doivent être cliquables*/
        display: flex;
        flex-direction: row;
        margin-bottom: 8%;  
    }

    .card2 img { 
        width: 38%;
        height: 150px;
    }

    #increase {
        gap: 69%;
        padding-top: 3%;
        
    }

    #increase h1 {
        margin-left: 1%;
    }

    #increase i {
        padding-top: 4%;
    }


/*Section Activités à Marseille*/
    .three {
        width: 100%;
    }

    #activities {
        gap: 20px;
    }

    .card3 img {
        width: 100%;
        max-height: 267px;
    }

/*Footer*/
    .end {
        width: 100%;  
    }
    
}



/***********************************  MEDIA QUERIES MOBILE  *************************/

/*media queries en lien avec la version mobile (768 px et moins selon la nouvelle version de booki)*/

    /**************** HEADER *********/
@media screen and (min-width: 320px) and (max-width: 768px) { 
    
    body {
        margin: auto;
        width: 100%;
    }

    /*HEADER*/
    #logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    #logo img {
        padding-left: 0;
        padding-top: 20px;
    }

    .nav {
        gap: 80px;
        padding-right: 0;
    }

     /* SOULIGNAGE DU NAV */

     .nav {
        overflow: hidden;
     }
    
     .nav a {
        float: left;
        display: block;
        color: black;
        padding: 50px 30px 20px 30px;
        text-decoration: none;
        border-bottom: 2px solid #f2f2f2; 
     }

     .nav a:hover { /* il est en DESSOUS en version mobile*/
        border-bottom: 2px solid  #f2f2f2;
        color: black;
     }
 
     .nav a.active {
         border-bottom: 2px solid #0065FC;
         color:  #0065FC;
     }
 
     
    /*** SECTION1 Trouvez votre hbrgmnt ***/
    .start {
        width: 100%;
    }

    #section1 h1{
        align-items: center;
        /*padding-left: 3%;*/
       /* padding-right: 3%;*/
    }

    #section1 p {
        margin: 0;
    }
    
    #barrederecherche {
        width: 100%;
    }

    form { /*Eléments de la barre de recherche*/
        margin-bottom: 20px;
        }

    #dotlocation { /*contour de l'icone dotlocation*/
        padding: 14px;
    }
    
    input { /*correspond à l'endroit ou on peut écrire une ville et où est indiqué "Marseille, Fr"*/
        font-size: 1.1em;
        width: 180px;
        font-weight: bold;
        padding : 15px;
        }

    .buttonresearch i { /*icone loupe (couleur blanche, fond bleu, radius différent sur mobile ainsi que padding)*/
        color: white;
        background-color: #0065FC;
        font-size: 0.9em;
        border-radius: 0 15px 15px 0;
        padding: 14px;
        padding-top: 18px;
    }
    
    /*icone LOUPE à la place de "Recherche" + changement de place topofthetop et accomodations (ordre inversé one/two)*/
    .hide-md { 
        display: none;
    }

    .hide-lg { /*class qui permet de cacher certaines choses en fonction de la taille de l'écran*/
        display: contents;
    }

    /****** FILTRES **********/
    #filtres {
        width: 100%;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    #filtres h2 {
        padding-top: 0;
        margin: 0;
    }

    #filtres li{
        width: 190px;
        font-size: 0.8em;
        margin: 0;
    }

    .conteneur { /*gestion des filtres*/
        flex-wrap: wrap;
        padding-left: 0;
        gap: 15px;
    }

    #info {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #info p {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 8px;
    }

    /* DIV QUI REGROUPE SECTION2 ET ARTICLE */
    #whereto {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    /***SECTION2 ACCOMODATIONS ***/
    .one {
        order: 2;
        width: 100%;
        align-items: center;
    }

    #accomodations {
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        background-color: white;
        align-items: center;
    }

    #accomodations h1 {
        margin-bottom: 20px;
    }

    #accomodations h2 {
        display: none;
    }

    #where {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .card1 {
        width: 90%;
        padding-bottom: 10px;
    }

    .box1 {
        margin-left: 10px;
    }

    .box1 h3 {
        margin-left: 10px;
    }

    .stars {
        margin-left: 10px;
    }

    /*** ASIDE TOPOFTHETOP ***/
    .two {
        order: 1;
        flex: 1;
        width: 100%;
        align-items: center;
    }

    #topofthetop {
        border-radius: 0;
        margin: 0;
        padding-bottom: 50px;
        gap: 10px;
        padding-left: 0;
        padding-right: 0;
        }
    
    #increase {
        padding-top: 20px;
        gap: 15%;
        /*padding: 0;*/
    }

    #increase h1 {
        /*margin-left: 15px;*/
        /*margin-bottom: 20px;*/
    }

    #increase i {
        padding-top: 24px;
    }

    #bests {
        width: 100%;
        align-items: center;
    }

    .card2 {
        width: 90%;
        height: 144px;
    }

    /*** SECTION3 ACTIVITIES ***/
    .trois {
        width: 100%;
        align-items: center;
    }

    #section3 {
       width: 100%;
    }

    #section3 h1 {
        padding-top: 15%;
        padding-left: 6%;
    }

    #activities {
        width: 100%;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 70px;
    }

    .card3 {
        width: 90%;
    }

    .card3 img {
        width: 100%;
        height: 130px;
    }
    
    /*** FOOTER ***/  
    .end {
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    } 
    
    #footer { 
        flex-direction: column;  
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .help {
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}    
